MONGODB_URI="your_mongodb_connection_string_here"
MONGODB_DB_NAME="smart-campus"
JWT_SECRET="smartcampussecretkey"

ADMIN_EMAIL="admin@campustracker.com"
ADMIN_PASSWORD="admin123"

DEMO_STUDENT_EMAIL="demo.student@charusat.edu.in"
DEMO_STUDENT_PASSWORD="DemoStudent@123"
DEMO_STAFF_EMAIL="demo.worker@charusat.ac.in"
DEMO_STAFF_PASSWORD="DemoWorker@123"
DEMO_ADMIN_EMAIL="demo.admin@campustracker.com"
DEMO_ADMIN_PASSWORD="DemoAdmin@123"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587            # 465 if using SSL
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_password_here
SMTP_FROM="Smart Campus <no-reply@CampusTracker>"