MONGODB_URI="your_mongodb_connection_string_here"
MONGODB_DB_NAME="smart-campus"
JWT_SECRET="smartcampussecretkey"

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587            # 465 if using SSL
SMTP_USER=your_smtp_user_here
SMTP_PASS=your_smtp_password_here
SMTP_FROM="Smart Campus <no-reply@CampusTracker>"